<br />
<h2 class="text-center text-uppercase">List of Avatar</h2>
<br />
<div class="table-responsive text-center">
  <table class="table table-dark table-hover table-bordered border-green">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Rareness</th>
        <th scope="col">Unlocker Type</th>
        <th scope="col">Unlocker Value</th>
        <th scope="col">Coins Cost</th>
        <th scope="col">Icon</th>
        <th scope="col">Status</th>
        <th scope="col">Enhanced Features</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <ng-container *ngFor="let avatar of avatars">
        <tr>
          <th scope="row">{{ avatar.idUnlockable }}</th>
          <td>{{ avatar.name }}</td>
          <td>{{ avatar.description }}</td>
          <td>{{ avatar.rareness }}</td>
          <td>{{ avatar.unlockerType }}</td>
          <td>{{ avatar.unlockerValue }}</td>
          <td>{{ avatar.coinsCost }}</td>
          <td>
            <img
              src="{{ avatar.icon }}"
              class="rounded mx-auto d-block img-thumbnail thumbnail"
            />
          </td>
          <td>{{ avatar.status }}</td>
          <td>{{ avatar.enhancedFeaturesJson }}</td>
          <td>
            <div class="d-grid gap-2 d-md-block">
              <button
                type="submit"
                mwlConfirmationPopover
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteAvatar(avatar)"
                (cancel)="cancelClicked = true"
                class="btn btn-outline-danger"
              >
                Delete
              </button>

              <button
                type="submit"
                (click)="updateAvatar(avatar)"
                class="btn btn-outline-success"
                >
                Update
              </button>
              <button
                type="submit"
                (click)="changeAvatar(avatar)"
                class="btn btn-outline-success"
                >
                Change
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>