<br />
<h2 class="text-center text-uppercase">Search Composers</h2>
<br />
<div class="container">
  <div class="row g-2">
    <div class="col-md">
      <form class="form-floating" (ngSubmit)="searchComposerById()">
        <input
          type="number"
          class="form-control"
          id="id"
          name="id"
          required
          [(ngModel)]="id"
          placeholder="Search Composer by Id"
        />
        <div class="d-grid col-2 mx-auto">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </div>
        <div class="card mx-auto" style="width: 18rem"  *ngIf="show">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{composer.name}}</mat-card-title>
              <mat-card-subtitle>{{composer.birthDate}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <p>
                        {{composer.deathDate}}
                    </p>
                </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button mat-button (click)="showChangeForm()">Change</button>
              <button mat-button mat-button (click)="showUpdateForm()">Update</button>
              <button mat-button
              mwlConfirmationPopover
              [popoverMessage]="popoverMessage"
              placement="right"
              (confirm)="deleteComposer(composer)"
              (cancel)="cancelClicked = true"
              class="btn btn-outline-danger"
              >Delete</button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="container" *ngIf="showUpdate">
          <div class="row center">
            <form (ngSubmit)="updateComposer()">
              <div *ngIf="composer">
                <!--*************** ATTRIBUTE 1 ***************-->
                <div class="form-group mb-3 row">
                    <label for="id" class="col-sm-2 col-form-label">
                      Id :
                    </label>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        name="id"
                        placeholder="id"
                        required
                        [(ngModel)]="composer.idComposer"
                        disabled
                      />
                    </div>
                </div>
                <div class="form-group mb-3 row">
                  <label for="composerName" class="col-sm-3 col-form-label">
                    Composer Name :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Composer Name"
                      required
                      [(ngModel)]="composer.name"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 1 ***************-->
                <!--*************** ATTRIBUTE 2 ***************-->
                <div class="form-group mb-3 row">
                  <label for="birthDate" class="col-sm-4 col-form-label">
                    Composer Birth Date :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="birthDate"
                      name="birthDate"
                      placeholder="Birth Date"
                      required
                      [(ngModel)]="composer.birthDate"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 2 ***************-->
                <!--*************** ATTRIBUTE 3 ***************-->
                <div class="form-group mb-3 row">
                  <label for="deathDate" class="col-sm-4 col-form-label">
                    Composer Death Date :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="deathDate"
                      name="deathDate"
                      placeholder="Composer Death Date"
                      required
                      [(ngModel)]="composer.deathDate"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 3 ***************-->
                <!--*************** ATTRIBUTE 4 ***************-->
                <!--*************** END ATTRIBUTE 4 ***************-->
                <!--*************** ATTRIBUTE 5 ***************-->
                <!--*************** END ATTRIBUTE 5 ***************-->
                <!--*************** ATTRIBUTE 6 ***************-->
                <!--*************** END ATTRIBUTE 6 ***************-->
                <!--*************** ATTRIBUTE 7 ***************-->
                <!--*************** END ATTRIBUTE 7 ***************-->
                <!--*************** ATTRIBUTE 8 ***************-->
                <div class="form-group mb-3 row">
                  <label for="status" class="col-sm-3 col-form-label">
                    Composer Status :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="status"
                      name="status"
                      placeholder="Composer Status"
                      required
                      [(ngModel)]="composer.status"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 8 ***************-->
                <!--*************** ATTRIBUTE 9 ***************-->
                <!--*************** END ATTRIBUTE 9 ***************-->
              </div>
              <!--*************** BUTTON ***************-->
              <div class="d-grid col-2 mx-auto">
                <button type="submit" class="btn btn-outline-success">Save</button>
              </div>
              <!--*************** END BUTTON ***************-->
            </form>
          </div>
        </div>
        <div class="container" *ngIf="showChange">
          <div class="row center">
            <form (ngSubmit)="changeComposer()">
              <div *ngIf="composer">
                <!--*************** ATTRIBUTE 1 ***************-->
                <div class="form-group mb-3 row">
                    <label for="id" class="col-sm-2 col-form-label">
                      Id :
                    </label>
                    <div class="col-sm-12">
                      <input
                        type="text"
                        class="form-control"
                        id="id"
                        name="id"
                        placeholder="id"
                        required
                        [(ngModel)]="composer.idComposer"
                        disabled
                      />
                    </div>
                </div>
                <div class="form-group mb-3 row">
                  <label for="composerName" class="col-sm-3 col-form-label">
                    Composer Name :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder="Composer Name"
                      required
                      [(ngModel)]="composer.name"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 1 ***************-->
                <!--*************** ATTRIBUTE 2 ***************-->
                <div class="form-group mb-3 row">
                  <label for="birthDate" class="col-sm-4 col-form-label">
                    Composer Birth Date :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="birthDate"
                      name="birthDate"
                      placeholder="Birth Date"
                      required
                      [(ngModel)]="composer.birthDate"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 2 ***************-->
                <!--*************** ATTRIBUTE 3 ***************-->
                <div class="form-group mb-3 row">
                  <label for="deathDate" class="col-sm-4 col-form-label">
                    Composer Death Date :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="deathDate"
                      name="deathDate"
                      placeholder="Composer Death Date"
                      required
                      [(ngModel)]="composer.deathDate"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 3 ***************-->
                <!--*************** END ATTRIBUTE 4 ***************-->
                <!--*************** ATTRIBUTE 5 ***************-->
                <!--*************** END ATTRIBUTE 5 ***************-->
                <!--*************** ATTRIBUTE 6 ***************-->
                <!--*************** END ATTRIBUTE 6 ***************-->
                <!--*************** ATTRIBUTE 7 ***************-->
                <!--*************** END ATTRIBUTE 7 ***************-->
                <!--*************** ATTRIBUTE 8 ***************-->
                <div class="form-group mb-3 row">
                  <label for="status" class="col-sm-3 col-form-label">
                    Composer Status :
                  </label>
                  <div class="col-sm-12">
                    <input
                      type="text"
                      class="form-control"
                      id="status"
                      name="status"
                      placeholder="Composer Status"
                      required
                      [(ngModel)]="composer.status"
                    />
                  </div>
                </div>
                <!--*************** END ATTRIBUTE 8 ***************-->
                <!--*************** ATTRIBUTE 9 ***************-->
                <!--*************** END ATTRIBUTE 9 ***************-->
              </div>
              <!--*************** BUTTON ***************-->
              <div class="d-grid col-2 mx-auto">
                <button type="submit" class="btn btn-outline-success">Save</button>
              </div>
              <!--*************** END BUTTON ***************-->
            </form>
          </div>
        </div>
      </form>
    </div>
    <!-- SEPARADOR -->
  </div>
</div>



