<body>
    <mat-card class="form-container">
      <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
      </mat-card-header>
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <mat-card-content>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Username</mat-label>
            <input matInput ngModel name="uniqueIdentifier" id="uniqueIdentifier" placeholder="Enter your email" class="form-control">
            <mat-error>
              <span>Username is required.</span>
              <span>The username must be valid.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" ngModel name="password" id="password" placeholder="Enter your password" class="form-control">
            <mat-error>
              <span>Password is required.</span>
              <span>The password must contain 6 characters.</span>
            </mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          &nbsp; &nbsp; &nbsp; &nbsp;<button mat-raised-button type="submit">Login</button>
        </mat-card-actions>
      </form>
    
    </mat-card>
</body>